<div>
</div>
<div>
  {{input type="text" class="txt-userid pw-input" name="userId"
  placeholder="User ID" autocomplete="off" value=username }}
</div>

<div>
  {{input type="text" class="txt-password pw-input" name="token"
  placeholder="Token" autocomplete="off" value=token  }}
</div>

<div>
  {{input type="text" class="txt-password pw-input" name="password"
  placeholder="Password" autocomplete="off" value=password }}
</div>
<div class="link">
  {{#link-to "login"}}
    {{fa-icon "lock"}} &nbsp; Login
  {{/link-to}}
</div>
<div class="form-group">
    <button type="button" class="pw-button" {{action "submit"}}>
        Reset Password
    </button>
</div>
