<table>
    <thead>
    {{#if monthNavigation}}
        <tr>
            <th>
                <button {{action "previousMonth"}}>
                  {{fa-icon 'chevron-left' size="lg" }}
                </button>
            </th>
            <th colspan="5">
              {{date-month-name month}} {{year}}
            </th>
            <th>
                <button {{action "nextMonth"}}>
                  {{fa-icon 'chevron-right' size="lg" }}
                </button>
            </th>
        </tr>
    {{/if}}
    <tr>
        <th><span>Sun</span></th>
        <th><span>Mon</span></th>
        <th><span>Tue</span></th>
        <th><span>Wed</span></th>
        <th><span>Thu</span></th>
        <th><span>Fri</span></th>
        <th><span>Sat</span></th>
    </tr>
    </thead>
    <tbody>
    {{#each calendar as |week|}}
        <tr>
          {{#each week as |date|}}
              <td>

                {{#if (date-month date month)}}
                  {{#if (date-inlist date markedDates)}}
                      <span {{action "clickDate" date}} class="in-month marked">
                        {{moment-format date 'D'}}
                      </span>
                  {{else}}
                      <span {{action "clickDate" date}} class="in-month">
                        {{moment-format date 'D'}}
                      </span>
                  {{/if}}
                {{else}}
                    <span>
                      {{moment-format date 'D'}}
                    </span>
                {{/if}}
              </td>
          {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>
