<div class="info">
    <h1>{{user}}</h1>
    <h2>{{operator}}</h2>
</div>
<a class="avatar" {{action "showMenu"}}>
    <img src="images/operator.png" class="photo" style="opacity: 0.5;"/>
    <img src="images/tick-mark.svg" class="tick"/>
</a>

<ul class="profile-menu">
    <li>
        <a {{action "fireAction" "userProfile"}}>
          {{fa-icon "user"}}
            <span>User Profile</span>
        </a>
    </li>
    <li>
      <a {{action "fireAction" "changePassword"}}>
          {{fa-icon "lock"}}
          <span>Change Password</span>
      </a>
    </li>
    <li>
      <a {{action "fireAction" "logout"}}>
        {{fa-icon "unlock"}}
          <span>Logout</span>
      </a>
    </li>
</ul>
