{{#if (lt current 2)}}
    <button class="btn btn-xs btn-success" disabled>
        &nbsp;{{fa-icon "angle-double-left"}}&nbsp;
    </button>
    <button class="btn btn-xs btn-success" disabled>
        &nbsp;{{fa-icon "angle-left"}}&nbsp;
    </button>
{{else}}
    <button class="btn btn-xs btn-success" {{action "go" "first"}} title="first">
        &nbsp;{{fa-icon "angle-double-left"}}&nbsp;
    </button>
    <button class="btn btn-xs btn-success" {{action "go" "previous"}} title="previous">
        &nbsp;{{fa-icon "angle-left"}}&nbsp;
    </button>
{{/if}}

&nbsp;

<button class="btn btn-xs btn-success" {{action "refresh"}} title="refresh">
  {{current}}&nbsp;/&nbsp;{{pageCount}}
</button>
&nbsp;

{{#if (eq current pageCount)}}
    <button class="btn btn-xs btn-success" disabled>
        &nbsp;{{fa-icon "angle-right"}}&nbsp;
    </button>
    <button class="btn btn-xs btn-success" disabled>
        &nbsp;{{fa-icon "angle-double-right"}}&nbsp;
    </button>
{{else}}
    <button class="btn btn-xs btn-success" {{action "go" "next"}} title="next">
        &nbsp;{{fa-icon "angle-right"}}&nbsp;
    </button>
    <button class="btn btn-xs btn-success" {{action "go" "last"}} title="last">
        &nbsp;{{fa-icon "angle-double-right"}}&nbsp;
    </button>
{{/if}}





