{{#if hasChild}}<img src="images/component/tick-mark.svg" class="icon-expand" {{action "click"}}>{{/if}}
<a {{action "click"}} title="{{labelText}}">
  {{fa-icon icon=iconName class="fa-fw"}}
  <span>
    {{labelText}}
  </span>
</a>
{{#if submenus}}
    <ul>
      {{#each submenus as |menu|}}
        {{
        pw-sidebar-menu
        routeName=menu.routeName
        iconName=menu.iconName
        labelText=menu.labelText
        hasChild=menu.hasChild
        submenus=menu.submenus
        onToggleExpand=(action "submenuToggleExpand")
        onCreated=(action "submenuCreated")
        onSelect=(action 'submenuSelected')
        }}
      {{/each}}
    </ul>
{{/if}}



