{{pw-page-title title="Change Password" icon="lock"}}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
          {{#if error}}
              <div class="alert alert-danger" role="alert">
                {{errorMessage}}
              </div>
          {{else}}
            {{#if success}}
                <div class="alert alert-success" role="alert">
                  {{errorMessage}}
                </div>
            {{else}}
                <div class="alert alert-info" role="alert">
                    Change your password.
                </div>
            {{/if}}
          {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <span class="field">Current Password</span>
        </div>
        <div class="col-lg-5">
          {{input type="password" class="form-control" value=oldPassword}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <span class="field">Old Password</span>
        </div>
        <div class="col-lg-5">
          {{input type="password" class="form-control" value=newPassword}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <span class="field">Confirmation</span>
        </div>
        <div class="col-lg-5">
          {{input type="password" class="form-control" value=confirmation}}
        </div>
    </div>


    <div class="row">
        <div class="col-lg-5 col-lg-offset-2">
            <button class="btn btn-success btn-sm" {{action "save"}}>
              {{fa-icon "check"}} &nbsp; Save
            </button>
            &nbsp;
            <button class="btn btn-warning btn-sm" {{action "cancel"}}>
              {{fa-icon "remove"}} &nbsp; Clear
            </button>

        </div>
    </div>

</div>

