{{pw-page-title title="Change Password" icon="lock"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <p>
                Please, fill out all of fields below.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"><span class="field">Old Password</span></div>
        <div class="col-lg-4">
            {{input value=oldPassword type="password" class="form-control"}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">New Password</span></div>
        <div class="col-lg-4">
          {{input value=newPassword type="password" class="form-control"}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">Retype New Password</span></div>
        <div class="col-lg-4">
          {{input value=confirm type="password" class="form-control"}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
            <button class="btn btn-success btn-sm">
                {{fa-icon "check"}}
                &nbsp;
                Save
            </button>
        </div>
    </div>
</div>

