<td style="width: 10px; text-align: center;">
  {{pw-image default="images/default/plane.png" source=data.mainImage.url style="max-width: 180px; margin-bottom: 4px;"}}
  <span class="pw-text pw-text-block pw-text-sm">
    {{data.code}}
  </span>
  <button class="btn btn-xs btn-primary" {{action "click"  "showDetail" data}}>
      detail
  </button>
</td>
<td>
    <span class="pw-text pw-text-bg pw-text-block" style="color: #cbaf5c;">{{data.registrationNumber}}</span>
    <span class="pw-text pw-text-block pw-text-md" style="color: #d8bb62;">{{data.model}}</span>
    <span class="pw-text pw-text-block pw-text-md">{{data.aircraftType}}</span>

    <p>
      {{#if (eq data.status "ACTIVE")}}
          <span class="pw-label pw-label-xs pw-label-success">{{data.status}}</span>
      {{else}}
          <span class="pw-label pw-label-xs pw-label-danger">{{data.status}}</span>
      {{/if}}
    </p>


</td>
<td>
    <span class="pw-text pw-text-sm pw-text-block">
        Max Range
    </span>

    <span class="pw-text pw-text-md pw-text-block">
      {{format-number data.maxRangeNm precision=0}} Nm
      &nbsp;&nbsp;&nbsp;
      {{format-number data.maxRangeKm precision=0}} Km
    </span>

    <span class="pw-text pw-text-sm pw-text-block">
        Speed
    </span>

    <span class="pw-text pw-text-md pw-text-block">
      {{format-number data.speedKts precision=0}} Kts
        &nbsp;&nbsp;&nbsp;
      {{format-number data.speedKmh precision=0}} Kmh
    </span>

    <span class="pw-text pw-text-sm pw-text-block">
        Safety Rating
    </span>
    <span class="pw-text pw-text-block pw-text-md">{{data.safetyRating}}</span>
</td>

<td>
    <span class="pw-text pw-text-sm pw-text-block">
        Base Price
    </span>

    <span class="pw-text pw-text-md pw-text-block">
      {{format-number data.basePrice precision=0}}
    </span>

    <span class="pw-text pw-text-sm pw-text-block">
        Margin Price
    </span>

    <span class="pw-text pw-text-md pw-text-block">
      {{format-number data.marginPrice precision=0}}
    </span>

    <span class="pw-text pw-text-sm pw-text-block">Max Passengers</span>
    <span class="pw-text pw-text-block pw-text-md">{{data.maxPassengers}} Seats</span>
</td>
