<div class="row">
    <div class="col-lg-12" style="padding-top: 8px;">
        <button class="btn btn-sm btn-success pull-right">
            {{fa-icon "plus"}} &nbsp;
            Add Task
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="padding: 0 0;">
        <table class="aircraft-detail">
            <tr>
                <td class="field" style="width: 200px;">Cost/Hour</td>
                <td class="value">
                    $ -
                </td>
            </tr>
            <tr>
                <td class="field">Margin/Hour</td>
                <td class="value">
                    N/A
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row aircraft-availability-panel">
    <div class="col-lg-1">
      {{fa-icon "chevron-left" size="lg" click=(action "previousMonth")}}
    </div>
    <div class="col-lg-10">
        <span class="title">
          {{date-month-name month}}
          {{year}}
        </span>
    </div>
    <div class="col-lg-1">
      {{fa-icon "chevron-right" size="lg" click=(action "nextMonth")}}
    </div>
</div>

<div class="row">
    <div class="col-lg-12" style="padding: 0 0; text-align: center;">
      {{pw-month-calendar
      month=month
      year=year
      markedDates=markedDates
      monthNavigation=false
      selectDate=(action "selectDate")}}
    </div>
</div>

