<div class="row">
    <div class="col-lg-12" style="padding: 0 0;">
        <table class="aircraft-detail">
            <tr>
                <td class="field" style="width: 200px;">Aircraft Type</td>
                <td class="value">{{aircraft.type}}</td>
            </tr>
            <tr>
                <td class="field">Aircraft Name</td>
                <td class="value">{{aircraft.name}}</td>
            </tr>
            <tr>
                <td class="field">Seating Max</td>
                <td class="value">{{aircraft.seatingMax}}</td>
            </tr>
            <tr>
                <td class="field">Speed</td>
                <td class="value">{{aircraft.speed}} Kmh</td>
            </tr>
            <tr>
                <td class="field">Range</td>
                <td class="value">{{aircraft.range}} Km</td>
            </tr>
            <tr>
                <td class="field">Maintenance Cost</td>
                <td class="value">$ {{aircraft.maintenanceCost}}</td>
            </tr>
            <tr>
                <td class="field">Payload Max</td>
                <td class="value">{{aircraft.maxPayload}} Kg</td>
            </tr>
            <tr>
                <td class="field images">Images</td>
                <td class="value images">
                    <img src="./images/aircraft/private-jet1.jpg"/>
                    <img src="./images/aircraft/private-jet2.jpg"/>
                </td>
            </tr>
        </table>
    </div>
</div>
