{{pw-page-title title="Aircraft" subtitle="Entry" icon="plane"}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
          {{#if error}}
              <div class="alert alert-danger" role="alert">
                {{errorMessage}}
              </div>
          {{/if}}

          {{#if success}}
              <div class="alert alert-success" role="alert">
                {{errorMessage}}
              </div>
          {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"><span class="field">Code</span></div>
        <div class="col-lg-3">
            <span class="value">
              {{#if aircraft}}
                {{aircraft.code}}
              {{else}}
                  -- auto --
              {{/if}}
            </span>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">Model</span></div>
        <div class="col-lg-3">
          {{input class="form-control" value=model}}
        </div>

        <div class="col-lg-2"><span class="field">Registration Number</span></div>
        <div class="col-lg-3">
          {{input class="form-control" value=registrationNumber}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <span class="field">Aircraft Type</span>
        </div>
        <div class="col-lg-3">
            <select class="form-control" onchange={{action "selectAircraftType" value="target.value"}}>
                <option>-</option>
              {{#each aircraftTypes as |typeOption|}}
                  <option value={{typeOption}} selected={{eq aircraftType typeOption}}>{{typeOption}}</option>
              {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">Status</span></div>
        <div class="col-lg-2">
            <select class="form-control" onchange={{action "selectStatus" value="target.value"}}>
                <option>-</option>
              {{#each aircraftStatuses as |statusOption|}}
                  <option value={{statusOption}} selected={{eq status statusOption}}>{{statusOption}}</option>
              {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">Safety Rating</span></div>
        <div class="col-lg-5">
          {{input class="form-control" value=safetyRating}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">Description</span></div>
        <div class="col-lg-5">
          {{textarea class="form-control" value=description}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"><span class="field">Year of Make</span></div>
        <div class="col-lg-2">
          {{input class="form-control" value=yearOfMake type="number" min=1950 max=2020}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">Max Passengers</span></div>
        <div class="col-lg-2">
          {{input class="form-control" value=maxPassengers type="number" min=1}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">Speed Kts</span></div>
        <div class="col-lg-2">
          {{input class="form-control" value=speedKts type="number" change=(action "speedKtsChange")}}
        </div>

        <div class="col-lg-2"><span class="field">Speed Kmh</span></div>
        <div class="col-lg-2">
          {{input class="form-control" value=speedKmh type="number" change=(action "speedKmhChange")}}
        </div>

    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">Max Range in Nm</span></div>
        <div class="col-lg-2">
          {{input class="form-control" value=maxRangeNm type="number" change=(action "maxRangeNmChange")}}
        </div>

        <div class="col-lg-2"><span class="field">Max Range in Km</span></div>
        <div class="col-lg-2">
          {{input class="form-control" value=maxRangeKm type="number" change=(action "maxRangeKmChange")}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="field">Base Price</span></div>
        <div class="col-lg-2">
          {{input class="form-control" value=basePrice type="number"}}
        </div>

        <div class="col-lg-2"><span class="field">Margin Price</span></div>
        <div class="col-lg-2">
          {{input class="form-control" value=marginPrice type="number"}}
        </div>
    </div>


    <div class="row">
        <div class="col-lg-2"><span class="field">Base Airport</span></div>
        <div class="col-lg-7">
            <div class="input-group">
                <input value="{{airport.icaoCode}} {{airport.name}}" class="form-control" readonly/>

                <div class="input-group-btn">
                    <button class="btn btn-primary btn-sm" {{action "expandAirportSearch" true}}
                            style="margin-left: 4px;">
                        Select Airport
                    </button>
                </div>
            </div>
        </div>
    </div>

  {{#if airportSearchMode}}
      <div class="row">
          <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-xs pull-right" {{action "collapseAirportSearch" false}}>
                {{fa-icon "remove"}}
              </button>

              <div class="form-inline" style="margin-bottom: 5px;">
                  <div class="form-group">
                    {{input class="form-control" value=keywordAirport placeholder="airport name"}}
                      &nbsp;
                      <button class="btn btn-sm pull-right" {{action "doSearchAirport"}}>Search</button>
                  </div>
              </div>
              <div>
                {{pw-table data=airportData
                headerTemplate="search-airport/header"
                footerTemplate="search-airport/footer"
                masterTemplate="search-airport/row"
                detailTemplate="search-airport/row-detail"
                isZebra=false
                selectAirport=(action "selectAirport")
                }}
              </div>
              <div>
                {{pw-paging register-as=pagingAirport refresh=(action "refreshAirport") rowPerPage=10}}
              </div>
          </div>
      </div>
  {{/if}}


    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <button class="btn btn-sm" {{action "toggleSimulationPanel"}}>
              {{#if shownSimulationPanel }}
                {{fa-icon "caret-up"}}
                  &nbsp; Hide Price Simulation
              {{else}}
                {{fa-icon "caret-down"}}
                  &nbsp; Show Price Simulation
              {{/if}}

            </button>
        </div>
    </div>

  {{#if shownSimulationPanel}}
      <div class="row">
          <div class="col-lg-2"><span class="field">
        </span></div>
          <div class="col-lg-8">
            {{pw-price-simulation
              aircraftType=aircraftType
              speedKts=speedKts
              maxRangeNm=maxRangeNm
              basePrice=basePrice
              marginPrice=marginPrice
              baseAirport=airport
            }}

          </div>
      </div>
  {{/if}}

    <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
            <button class="btn btn-success btn-sm" {{action "save"}}>
              {{fa-icon "check"}} &nbsp; Save
            </button>
            <button class="btn btn-danger btn-sm" {{action "cancel"}}>
              {{fa-icon "remove"}} &nbsp; Cancel
            </button>
        </div>
    </div>
</div>