<div>
    {{selectedDate}}
    {{month}}
    {{year}}
</div>
{{pw-month-calendar month=month year=year markedDates=markedDates selectDate=(action "selectDate")}}

<div>
    <button {{action 'addData'}}>Add</button>
    {{#each data as |d|}}
      {{d}}
    {{/each}}
</div>

<div class="" style="border: 1px solid #FF0000">
    <button {{action 'animate'}} disabled={{inProgress}}>Start anim</button>
    <div class="demo-anim">
        TEST
    </div>
</div>