<div class="login-page">
    <div class="login-container">
        <div class="login-header login-caret">
            <div class="login-content">
                <img class="logo" src="images/logo-login.png"/>

                <p class="desc">The most comfortably way to fly</p>
            </div>
        </div>

        <div class="login-content">
          {{#if (or hasError success)}}
              <div class="error-box">
                  <div class="error-box-content {{if hasError "error"}} {{if success "success"}}">
                    {{#if hasError}}
                      {{fa-icon "exclamation-circle" }}
                    {{else}}
                      {{#if success}}
                        {{fa-icon "check-circle" }}
                      {{/if}}
                    {{/if}}
                      <span>{{errorMessage}}</span>
                  </div>
                  <div class="tick">&nbsp;</div>
              </div>
          {{/if}}
          {{form-login doLogin=(action "doLogin") rememberMe=rememberMe username=username password=password}}
        </div>

        <div class="login-footer">
          {{fa-icon "copyright"}} 2016
        </div>
    </div>
</div>